.wind-map-container {
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 900px;
  z-index: 99;
  pointer-events: none;
}

body {
  background-color: black;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

#mapbox_map {
  width: 100%;
  height: 100vh;
}

.mapbox-map-container {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
}

.geocoder {
  position: absolute;
  z-index: 1;
  width: 250px;
  /* left: 20px;
  top: 20px; */
  color: #e5e8ea;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  background-color: red;
}

.mapboxgl-ctrl-geocoder input {
  color: #e5e8ea;
}

.mapboxgl-ctrl-geocoder--button {
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder svg path {
  fill: #e5e8ea;
}

.mapboxgl-ctrl-geocoder--input {
  color: #e5e8ea !important;
}

.suggestions-wrapper a {
  background-color: #232a3e;
  color: #e5e8ea !important;
}

.suggestions-wrapper a {
  background-color: #114059;
  color: #e5e8ea !important;
}

.suggestions-wrapper a:hover {
  background-color: #232a3e !important;
  color: #e5e8ea !important;
}

.suggestions-wrapper .active a {
  background-color: #232a3e !important;
  color: #e5e8ea !important;
}
